* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-drag: none;
    box-sizing: border-box !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100hv;

}

#homemain .headings h1:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#home {
    width: 100%;
    min-height: 100hv;
}

#nav {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

img {
    width: 300px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.0vw;
    letter-spacing: 0;
    color: black;
}

#home #homemain {
    width: 100%;
    padding: 15vw 12vw;

}



#homemain h1,
h2 {
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: -.1vw;
}

.headings {
    display: flex;
    gap: 50px;
}

#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 4.7vw;
    font-weight: 600;
    letter-spacing: -6px;
    line-height: 1;
}

#homelast {
    padding: 5vw 12vw;
}

#homelast p {
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: -.08vw;
    width: 70%;
}

*::selection {
    color: white;
    background-color: black;
}


#featured1,
#featured2 {
    padding: 10vw 12vw;
}

.fheading>h1 {
    line-height: 1;
    font-size: 2.5vw;
    font-weight: 500;
}

.fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px black;
}


#fimages1 {
    width: 100%;
    height: 100vh;
    margin-top: 6vw;
    padding: 0vw 0vw;

    display: flex;
    justify-content: space-between;
}

#fimages1 #fleft {
    overflow: hidden;
    width: 45%;
    height: inherit;
}

#fimages1 #fleft .fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

#fimages1 #fleft .fleftelm h1 {
    font-size: 2vw;
    line-height: 1;
    font-weight: 400;
    margin: 1.5vw 0;
}

#fimages1 #fleft .fleftelm h2 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: capitalize;
}

#fimages1 #fleft .fleftelm h5 {
    opacity: .5;
}

#fimages1 #fright {
    width: 45%;
    display: column;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

#fimages1 #fright .images1 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#fimages1 #fright .images1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#fimages2 {
    width: 100%;
    height: 100vh;
    margin-top: 6vw;
    padding: 0vw 0vw;

    display: flex;
    justify-content: space-between;
}

#fimages2 #fright {
    overflow: hidden;
    width: 45%;
    height: inherit;
}

#fimages2 #fright .frightelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

#fimages2 #fright .frightelm h1 {
    font-size: 2vw;
    line-height: 1;
    font-weight: 400;
    margin: 1.5vw 0;
}

#fimages2 #fright .frightelm h2 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: capitalize;
}

#fimages2 #fright .frightelm h5 {
    opacity: .5;
}

#fimages2 #fleft {
    width: 45%;
    display: column;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

#fimages2 #fleft .images2 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#fimages2 #fleft .images2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    padding: 1.2vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}

#dev {
    width: 100%;
    padding: 5vw 13vw;
}

#dev h1 {
    font-size: 3vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}

#dev p {
    font-size: 1.3vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}

#slides {
    width: 100%;
    height: 100%;
    padding: 3vw 6vw;
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 30%;

}

.slide .img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
}

.slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag {
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin: 20px;
}

.slide h3 {
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}




@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}



.sliderc {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}


footer {
    background-color: rgb(58, 58, 58);
    margin-top: 50px;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.container .content {
    display: flex;
    padding: 50px;
    overflow: hidden;
    justify-content: space-between;
}

.container .content .col {
    display: flex;
    flex-direction: column;
}

.container .content p:first-child:not(.flex p:first-child) {
    color: white;
    font-size: 22px;
}

.container .content p:not(.col, .column p:first-child) {
    color: rgb(136, 136, 136);
    margin-bottom: 10px;
}

.container .content .col:first-child {
    gap: 25px;
}

.container .content .col:first-child .flex {
    display: flex;
    gap: 10px;
}

.container .content .col:first-child .flex .col-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .content .col:first-child .flex .col-info p {
    font-size: 14px;
}

.container .content .col:first-child .flex .col-info span {
    color: white;
    font-size: 17px;
}

.container .content .col .column:first-child {
    margin-right: 50px;
}

.container .content .col .column p:first-child {
    margin-bottom: 25px;
}

.container .content .col .column p:not(p:first-child) {
    margin-bottom: 12px;
}

.container .content .col:last-child {
    gap: 15px;
}



/* .container .content .col:last-child .social {
    display: flex;
    gap: 20px;
  }
  .container .content .col:last-child .social img {
    width: 40px;
  } */
.content-foot {
    background-color: rgb(43, 43, 43);
}

.content-foot .foot-text {
    text-align: center;
    padding: 25px 80px;

    
}

.content-foot .container p {
    color: rgb(136, 136, 136);
}

.content-foot .container p span {
    color: white;
    font-weight: bold;
}

.content-foot .container .pay {
    display: flex;
    gap: 20px;
}

.content-foot .container .pay img {
    width: 70px;
    height: 40px;
    object-fit: contain;
    background-color: white;
    padding: 10px 5px;
}

.container .content .col .social1 {
    display: flex;
    gap: 10px
}

.container .content .col .social1 img {
    width: 45px;
    height: 45px;
}

.container .content .col .column a {
    color: rgb(136, 136, 136);
    text-decoration: none;

}





/* Review Section CSS */

.containerreview {
    height: 500px;
    width: 90%;
    margin: 100px auto;

    text-align: center;

}

.title {
    width: 180px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: 110px;
    margin-bottom: 45px;
    border-bottom: 5px solid rgb(0, 0, 0);
    padding-bottom: 10px;
    letter-spacing: 3px;
}

.review {

    width: 100%;
    height: 385px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgb(189, 189, 190);

}

#person-img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 12px;
    z-index: 2;
    box-shadow: 5px -5px rgb(0, 0, 0);
}

#author {
    text-transform: capitalize;
    letter-spacing: 3px;
}

#job {
    font-size: 13px;
    color: rgb(90, 152, 238);
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#info {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.button-container {

    margin-top: 12px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    margin-left: 45%;
    margin-right: 45%;
}

.prev-btn {
    background-color: white;
    border-style: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.prev-btn:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);


}

.next-btn {
    background-color: white;
    border-style: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.next-btn:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);

}

.random-btn {

    background-color: rgb(232, 237, 246);
    color: rgb(0, 0, 0);
    font-size: 12px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);


}

.random-btn:hover {
    cursor: pointer;
    color: black;
    border: 2px solid rgb(30, 120, 247);
    background-color: rgb(90, 152, 238);
    font-size: 12.5px;
}

.quote {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    font-size: 10px;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 335px;
    left: 128px;
    z-index: 3;
}

#quote {
    color: white;
    margin-top: 7px;
    font-size: 12px;

}


.containerreview .title h2 {
    font-size: 3vw !important;
    font-weight: 400;
    width: 60%;
}









@media screen and (max-width: 480px) {

        p{
            font-size: 4vw;
        }

        #homemain h2{
            font-weight: 400;
            font-size: 4vw;
            letter-spacing: -.1vw;
        }

    .fheading>h1{
        font-size: 8vw;
    }
    #homelast p{
        font-size: 4vw;
        width: 100%;
    }


    #dev {
        width: 100%;
        
    }

    .fheading>h1{
        text-align: center;
    }
    
    #dev h1 {
        font-size: 8vw;
        font-weight: 400;
        width: 100%;
        line-height: 1;

    }
    
    #dev p {
        font-size: 4vw;
        margin-top: 3vw;
        letter-spacing: -.5px;
        width: 100%;
    }
    
    #slides {
        width: 100%;
        height: 100%;
        padding: 0vw 6vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .slide {
        width: 100%;
    
    }
    
    .slide .img {
        width: 100%;
        height: 270px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .slide .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .slide .tag {
        width: fit-content;
        border-radius: 20px;
        padding: 5px 11px;
        background-color: #f7f7f7;
        margin: 5px;
        font-size: 8vw;
    }
    
    .slide h3 {
        font-size: 4vw;
        font-weight: 400;
        letter-spacing: -.5px;
        margin: 5px;
    }


    .review{
        height: 400px;
        
    }
    .containerreview{
        margin: 30px auto;
        width: 80%;
    }

    .title{
        margin-left: 25%;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .container .content {
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .container .content .col {
        margin-bottom: 10px;
    }

    .container .content .col:first-child .flex {
        flex-direction: column;
    }

    .container .content .col:first-child .flex .col-info span {
        font-size: 15px;
    }

    .container .content .col .column p:first-child {
        font-size: 16px;
    }

    .content-foot .foot-text {
        padding: 10px;
    }

    .content-foot .container .pay img {
        width: 50px;
        height: 30px;
    }


    #fimages1 {
        width: 100%;
        height: 80vh;
        margin-top: 6vw;
        padding: 0vw 0vw;

    }
    
    #fimages1 #fleft {
        overflow: hidden;
        width: 45%;
        height: inherit;
    }
    
    #fimages1 #fleft .fleftelm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: inherit;
    }
    
    #fimages1 #fleft .fleftelm h1 {
        font-size: 3vw;
        line-height: 1;
        font-weight: 400;
        margin: 1.5vw 0;
    }
    
    #fimages1 #fleft .fleftelm h2 {
        font-size: 5vw;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    #fimages1 #fleft .fleftelm h5 {
        opacity: .5;
    }
    
    #fimages1 #fright {
        width: 45%;
        display: column;
        align-items: center;
        justify-content: flex-end;
        height: inherit;
    }
    img{
        width: 200px;
    }
    
    #fimages1 #fright .images1 {
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }
    
    #fimages1 #fright .images1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #fimages2 {
        width: 100%;
        height: 80vh;
        margin-top: 6vw;
        padding: 0vw 0vw;
    
        display: flex;
        justify-content: space-between;
    }
    
    #fimages2 #fright {
        overflow: hidden;
        width: 45%;
        height: inherit;
    }
    
    #fimages2 #fright .frightelm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: inherit;
    }
    
    #fimages2 #fright .frightelm h1 {
        font-size: 3vw;
        line-height: 1;
        font-weight: 400;
        margin: 1.5vw 0;
    }
    
    #fimages2 #fright .frightelm h2 {
        font-size: 5vw;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    #fimages2 #fright .frightelm h5 {
        opacity: .5;
    }
    
    #fimages2 #fleft {
        width: 45%;
        display: column;
        align-items: center;
        justify-content: flex-end;
        height: inherit;
    }
    
    #fimages2 #fleft .images2 {
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }
    
    #fimages2 #fleft .images2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .headings{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #homemain .headings .homevid{
        color: transparent;
        -webkit-text-stroke: 1px black;
        text-align: center;
        font-size: 10vw;
        font-weight: 600;
        line-height: 1;
    }


}

#nav #menu{
    display: none;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    #nav #right {
        display: none;
        position: absolute;
        top: 80px;
        right: 50px;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 10px 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    #nav #menu{
        display:block;
    }

}

/* //Show the menu links when active */
#nav #right.active {
    display: flex;
}

